@import "../../scss/base/variables";

.post-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 20px;
  padding: 30px;
  background-color: $white;
  border-radius: 15px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1 / 2;
  }

  &__engagement {
    grid-row: 3 / 4;
  }
}
