@import "../../scss/base/variables";

.post-card {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(3, auto);
  row-gap: 20px;
  padding: 30px;
  background-color: $white;
  border-radius: 15px;

  &__user {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: flex-start;
  }

  &__engagement {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}
