@import "../../scss/base/variables";

.landing-layout {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
  }

  &__picture {
    position: relative;
    height: 250px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $dark;
      opacity: 0.5;
    }

    @media (min-width: $tablet) {
      flex: 1;
      height: 100%;
    }
  }

  &__panel {
    flex: 1;
    background-color: $white;
    padding: 40px;
    display: flex;
    align-items: center;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    margin-top: -24px;
    z-index: 9;

    @media (min-width: $tablet) {
      padding: 60px;
      flex: unset;
      width: 550px;
      overflow-x: scroll;
      border-top-left-radius: 24px;
      border-top-right-radius: unset;
      border-bottom-left-radius: 24px;
      margin-top: unset;
      margin-left: -24px;
    }
  }

  &__img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
