@import "../../scss/base/variables";

.landing-layout {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row-reverse;
  }

  &__panel {
    flex: 30%;
    position: relative;
    background-color: $white;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    margin-top: -24px;
    z-index: 9;
    padding: 30px;

    @media (min-width: $tablet) {
      flex: unset;
      margin-top: unset;
      margin-right: -24px;
      border-top-left-radius: unset;
      border-top-right-radius: 24px;
      border-bottom-right-radius: 24px;
      flex-basis: 60%;
      max-width: 550px;
      padding: 70px;
    }
  }

  &__picture {
    flex: 1;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $dark;
      opacity: 0.5;
    }
  }

  &__img {
    position: absolute;
    max-width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.landing-cta {
  display: none;

  @media (min-width: $laptop) {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
  }

  &__heading {
    color: $white;
    text-align: center;
  }

  &__copy {
    color: $white;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    min-width: 150px;
    background-color: $secondary;
    padding: 20px;
    border-radius: 12px;

    span {
      color: $white;
    }
  }
}
