@import "../../../scss/base/variables";

.post-card-content {
  grid-column: 1 / 3;
  grid-row: 2 / 3;

  &__text {
    color: $grey;
  }

  &__image {
    display: block;
    margin-top: 15px;
    border-radius: 12px;
    max-width: 100%;
  }
}
