@import "../../scss/base/variables";

.dashboard-layout {
  min-height: 100vh;

  &__main {
    margin-bottom: 80px;
    padding: 30px;

    @media (min-width: $tablet) {
      margin-bottom: unset;
      margin-left: 90px;
    }
  }
}
