@import "../../scss/base/variables";

.home {
  padding: 30px;

  @media (min-width: $tablet) {
    padding: 50px;
  }

  &__post-container {
    columns: 380px;
    gap: 30px;
  }

  &__post-item {
    margin-bottom: 30px;
    break-inside: avoid;

    &:last-child {
      margin-bottom: unset;
    }
  }
}
