@import "../../scss/base/variables";

.profile {
  padding: 30px;

  @media (min-width: $tablet) {
    padding: 50px;
  }

  &__info {
    background-color: $white;
    border-radius: 24px;
    padding: 30px;
  }
}
