@import "./variables";

body {
  font-family: "SF Pro", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: $dark;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

h1 {
  font-weight: 700;
  font-size: 30px;
}

h2 {
  font-weight: 700;
  font-size: 22px;
}

h3 {
  font-weight: 700;
  font-size: 16px;
}

h4 {
  font-weight: 700;
  font-size: 14px;
}

span {
  font-weight: 400;
  font-size: 14px;
}

p {
  font-weight: 400;
  font-size: 14px;
}

label {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
}
