$primary: #613bff;
$secondary: #fa7267;
$dark: #1e1f20;
$white: #ffffff;
$grey: #8f92a1;
$light-grey: #f7f7f7;
$success: #53d769;
$error: #ff4e4e;

$mobile: 375px;
$tablet: 768px;
$laptop: 1026px;
$desktop: 1440px;
