@import "../../scss/base/variables";

.user-engagement {
  display: flex;
  align-items: center;

  &__group {
    display: inline-flex;
    align-items: center;

    &:last-child {
      margin-left: 25px;

      @media (min-width: $tablet) {
        margin-left: 35px;
      }
    }
  }

  &__num {
    color: inherit;
    margin-left: 10px;
  }
}
