@import "../../scss/base/variables";

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;

  @media (min-width: $tablet) {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 90px;
    border-radius: initial;
    border: unset;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet) {
      flex-direction: column;
    }
  }

  &__link {
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(98, 59, 255, 0.2);
    border-radius: 12px;
    cursor: pointer;
  }

  &__selected {
    background-color: $primary;

    svg {
      fill: $white !important; // Overide SVG fill when NavLink selected
    }
  }
}
